/* 1ère PARTIE BLEUE */
body {
  font-family: sans-serif;
  margin: 0 auto;
}
p {
  line-height: 1.5rem;
}
a {
  text-decoration: none;
}
.paraphwhite {
  color: white;
}
.m-sectionbleue {
  padding: 0 10%;
  display: flex;
  background-color: #32325D;
  color: #AEE7FF;
}
.m-container1 {
  box-sizing: border-box;
  width: 70%;
  padding-right: 10%;
  display: flex;
  flex-flow: column wrap;
}
.p-inline-elements {
   display: flex;
   align-items: center;
}
.m-textefontchange {
  font-size: 22px;
  font-weight: lighter;
}
.m-listeuseless{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.m-textbloc {
  box-sizing: border-box;
  min-width: 240px;
  max-width: 200px;
  background-image: url("https://stripe.com/img/v3/payments/dev-checkmark.svg");
  background-repeat: no-repeat;
  padding-left: 6%;
  background-position: 0 10%;
}
.m-iconetextbloc {
  position: absolute;
  width: 23px;
  height: 23px;
  left: -30px;
  top: 15px;
}
.m-container2 {
  width: 50%;
  background: url("https://stripe.com/img/v3/payments/graphic-developers/flowchart.svg");
  background-repeat: no-repeat;
  background-size: 89%;
  height:900px;
}
.m-container2 p {
  margin-top: 77px;
  font-size: 12px;
  width: 50%;
  height: 60px;
  text-align: center;
}
.m-textimg1, .m-textimg2, .m-textimg3 {
  display: flex;
}
.m-textimg1 {
  padding-top: 6%;
}

/* 2ème PARTIE BLEUE */
.m-sectionbleue2 {
  background-color: #3B3C74;
  height: 325px;
  position: relative;
}
#m-tel1 {
  position: absolute;
  top: 0px;
  right: 75%;
}
#m-tel2 {
  position:absolute;
  top: -57px;
  right: 52%;
}
.m-textsection2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 53%;
  padding-right: 10%;
  color: #AEE7FF;
}

/*3ème PARTIE BLEUE*/
.m-sectionbleue3 {
  display: flex;
  padding-top: 10%;
  background-color: #32325D;
}
.m-textsection3 {
padding: 5%;
color: #9CDBFF;
display: flex;
}
.m-imgsection3 {
  position: relative;
}
#m-imgonline {
  width: 100%;
  height: 400px;
  transform: perspective(900px) rotateY(30deg);
}
#m-imgonline2 {
  position: absolute;
  top: 160px;
  right: 135px;
  width: 100%;
  height: 250px;
  transform: perspective(400px) rotateY(-25deg);
}
