/* ================= PART PAUL =============== */


/* CLASSES GENERALES */

body {
    font-family: sans-serif;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
    margin: 0;
}

figure {
    margin: 0;
}

.p-btn {
    position: relative;
    bottom: 0;
    padding: 15px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 3%;
    font-size: 0.9rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-top: 20px;
}

.p-btn:hover {
    bottom: 3px;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.2);
}

.p-btn-dark {
    color: #fff;
    background-color: #32325D;
}

.p-btn-dark:hover {
    background-color: #43458B;
}

.p-btn-light {
    color: #6790E8;
    background-color: #fff;
}

.p-btn-light:hover {
    color: #85abff;
}

.p-btn-blue {
    color: #fff;
    background-color: #6772e5;
}

.p-btn-blue:hover {
    background-color: #7794F8;
}

.stripe {
    position: absolute;
    transform: skewY(-12deg);
}

.p-inline-elements {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


/* HEADER */

header {
    position: relative;
    /*background-color: #6A8EEA;*/
    /*padding: 50px 0;*/
}

.s01 {
    background-image: linear-gradient(to right, #6A8EEA, #5E71DE);
    height: 700px;
    top: -200px;
    width: 100%;
    z-index: -5;
}

.s02 {
    background-image: linear-gradient(to right, #6FA7EF, #6582E5);
    height: 381px;
    top: 189px;
    width: 600px;
    z-index: -4;
}

.s03 {
    background-image: linear-gradient(to right, #5B67D6, #5658C7);
    height: 700px;
    top: -150px;
    right: 0;
    width: 230px;
    z-index: -3;
}

.s04 {
    background-image: linear-gradient(to right, #6280D6, #68BCF7);
    height: 221px;
    top: 200px;
    right: 0;
    width: 320px;
    z-index: -2;
}

.s05 {
    background-image: linear-gradient(to right, #F5A3EB, #595CC0);
    height: 213px;
    top: 434px;
    right: 0;
    width: 650px;
    z-index: -1;
}

.s06 {
    background-image: linear-gradient(to right, #FFF, #edf0f2);
    height: 213px;
    top: 475px;
    right: 0;
    width: 1050px;
    z-index: -6;
}

#nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
}

#p-stripe-logo {
    margin: 0;
}

#p-stripe-logo a {
    color: #fff;
}

#nav-header li {
    display: inline;
}

#nav-header a {
    color: #fff;
    padding: 0 20px;
    transition: 0.3s;
    font-weight: lighter;
}

#nav-header a:hover {
    color: #AEB8EF;
}

.p-burger-menu {
    height: 30px;
    display: none;
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.p-burger-menu span {
    display: block;
    margin-bottom: 5px;
    width: 30px;
    height: 4px;
    background-color: #fff;
}

header .p-icon {
    width: 72px;
}

header .p-icon svg {
    border-radius: 50%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.p-main-title {
    /*margin-top: 20px;*/
    font-size: 2.4rem;
    font-weight: 200;
    line-height: 4rem;
}

header .p-text-block-container {
    margin-left: 5%;
    width: 43%;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 200px;
}

header .p-text-block {
    padding: 0 5%;
}

header h2 {
    font-size: 2rem;
    margin-left: 25px;
    color: #32325D;
    font-weight: 400;
}


/* HEADER DEVICES PART*/

#p-devices-container {
    position: absolute;
    top: 109px;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url("image%20stripe/devices.png");
    height: 950px;
    width: 50%;
}


/* =============== END PART PAUL ========= */


/* =============== PART 1 SADIA ============== */

.s-introtext {
    font-size: 24px;
    line-height: 36px;
    width: 50%;
    margin-left: 50px;
    box-sizing: border-box;
    color: #525F7F;
}

#s-section01 .s-paraph {
    padding: 0 5%;
}

.s-paraph {
    display: flex;
    margin-bottom: 70px;
    flex-wrap: wrap;
}

#s-containerfirst, #s-containertwo, .s-containerthree {
    box-sizing: border-box;
    width: 33%;
}

.s-titres {
    list-style-type: : none;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    color: #32325d;
}

.s-paragraphes {
    list-style-type: : none;
    display: inline;
    justify-content: space-around;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #6b7c93;
}

.paraphblue {
    color: #6772e5;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.s-sectionblue {
    padding: 120px 5%;
    background-color: #F6F9FC;
}

#s-titrebleu {
    color: #6772e5;
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 33px;
}

#s-paraphsectionblue {
    color: #525F7F;
    font-size: 24px;
    line-height: 36px;
}

#s-titrecard {
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    color: #32325d;
}

#s-paraphsectionbluetwo {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #6b7c93;
}

#s-paraphcontainer {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #6b7c93;
}

#s-bullejaune {
    position: absolute;
    right: -40px;
    overflow: hidden;
}

.s-menucard {
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 9px 13px;
    display: block;
    cursor: pointer;
    overflow: hidden;
}

.s-email {
    border: none;
    outline: none;
    margin: 0;
    padding: 9px 13px;
    background: transparent;
    font: inherit;
    color: #32325d;
}

.s-boutonnotif {
    color: #7795f8;
    margin: 0;
    border: none;
    outline: none;
    background: transparent;
    padding: 9px 13px;
    font: inherit;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .025em;
    cursor: pointer;
    position: relative;
    transition: all .15s ease;
    padding-left: 15px;
}

#s-container {
    background-color: white;
    width: 25%;
    padding: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-right: 115px;
    padding-bottom: 45px;
    padding-left: 55px;
}

.s-titlecard {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-right: 115px;
    padding-bottom: 45px;
    padding-left: 55px;
}


/* =============== END PART 1 SADIA ============== */


/* =============== PART MEHDI ============== */


/* 1ère PARTIE BLEUE */

.stripe-top-blue-section01, .stripe-top-blue-section02 {
    height: 300px;
    background-color: #32325D;
    width: 100%;
    z-index: -5;
    left: 0;
}

.stripe-top-blue-section01 {
    top: -140px;
}

.stripe-top-blue-section02 {
    bottom: -140px;
}

p {
    line-height: 1.5rem;
}

a {
    text-decoration: none;
}

.paraphwhite {
    color: white;
}

.m-sectionbleue {
    position: relative;
    z-index: 5;
    padding: 0 10%;
    display: flex;
    background-color: #32325D;
    color: #AEE7FF;
}

.m-container1 {
    box-sizing: border-box;
    width: 70%;
    padding-right: 10%;
    display: flex;
    flex-flow: column wrap;
}

.p-inline-elements {
    display: flex;
    align-items: center;
}

.m-textefontchange {
    font-size: 22px;
    font-weight: lighter;
}

.m-listeuseless {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.m-textbloc {
    box-sizing: border-box;
    min-width: 240px;
    max-width: 200px;
    background-image: url("https://stripe.com/img/v3/payments/dev-checkmark.svg");
    background-repeat: no-repeat;
    padding-left: 6%;
    background-position: 0 10%;
}

.m-iconetextbloc {
    position: absolute;
    width: 23px;
    height: 23px;
    left: -30px;
    top: 15px;
}

.m-container2 {
    width: 50%;
    background: url("https://stripe.com/img/v3/payments/graphic-developers/flowchart.svg");
    background-repeat: no-repeat;
    background-size: 89%;
    height: 900px;
}

.m-container2 p {
    margin-top: 77px;
    font-size: 12px;
    width: 50%;
    height: 60px;
    text-align: center;
}

.m-textimg1, .m-textimg2, .m-textimg3 {
    display: flex;
}

.m-textimg1 {
    padding-top: 6%;
}


/* 2ème PARTIE BLEUE */

.m-sectionbleue2 {
    background-color: #3B3C74;
    /*height: 325px;*/
    position: relative;
    padding: 50px 0;
    display: flex;
    align-items: center;
}

#m-tel1 {
    position: absolute;
    top: 0px;
    right: 75%;
}

#m-tel2 {
    position: absolute;
    top: -70px;
    right: 52%;
    z-index: 50;
}

.m-textsection2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 53%;
    padding-right: 10%;
    color: #AEE7FF;
}

.m-textsection2 h4 {
    margin: 0;
}


/*3ème PARTIE BLEUE*/

.m-sectionbleue3 {
    display: flex;
    padding-top: 10%;
    background-color: #32325D;
    position: relative;
}

.m-textsection3 {
    padding: 5%;
    color: #9CDBFF;
    display: flex;
    flex-wrap: wrap;
}

.m-textsection3-gauche, .m-textsection3-droite {
    width: 50%;
}

.m-imgsection3 {
    position: relative;
}

#m-imgonline {
    width: 100%;
    height: 400px;
    transform: perspective(900px) rotateY(30deg);
}

#m-imgonline2 {
    position: absolute;
    top: 160px;
    right: 135px;
    width: 100%;
    height: 250px;
    transform: perspective(400px) rotateY(-25deg);
}


/* =============== END PART MEHDI ============== */


/* =============== PART 2 SADIA ============== */

#section-white-02 {
    margin-top: 300px;
}

.section-white-02-title {
    width: 65%;
    padding-left: 30%;
}

#s-imageonetwo {
    display: flex;
}

#s-la {
    width: 40%;
}

.s-titreparttwo {
    color: #6772E5;
    padding-left: 10px;
    position: relative;
}

.s-parttwo {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #525f7f;
    text-rendering: optimizeLegibility;
}

.paraphblue {
    color: #6772e5;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.s-paraphparttwo {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 150px;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #6b7c93;
    flex-wrap: wrap;
}

#s-imageordi {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    ;
    align-content: stretch;
}

.s-minititreparttwo {
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    color: #32325d;
    margin-bottom: 10px;
}

.s-devicesdescription {
    font-size: 0.9rem;
    line-height: 23px;
    color: #525f7f;
    width: 40%;
    padding-left: 20%;
}

.s-paraphtwo {
    margin: 15px;
    z-index: 501;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 40px 40px 40px 120px;
    background-color: #fff;
    border-radius: 4px;
}

.s-titrecontainparttwo :hover {
    font-size: 17px;
    line-height: 26px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em color: #24b47e;
}

.s-titrecontaintwotwo :hover {
    font-size: 17px;
    line-height: 26px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em color: #32325d;
}

.s-paraphcontainertwo {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #6b7c93;
}


/* =============== END PART 2 SADIA ============== */


/* CARDS */

.p-cards-container {
    padding: 0 10%;
    justify-content: space-between;
}

.p-link-card {
    box-sizing: border-box;
    display: flex;
    color: #6b7c93;
    width: 45%;
    align-items: center;
    background-color: #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px 0;
    overflow: hidden;
    transition: 0.3s;
    border-radius: 3px;
}

.p-card-paraph p {
    font-size: 0.9rem;
}

.p-green-card-title, .p-blue-card-title {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0;
    transition: 0.3s;
}

.p-green-card-title {
    color: #24b47e;
}

.p-blue-card-title {
    color: #3297d3;
}

.hover-fillDark, .hover-fillLight {
    transition: 0.3s;
}

.p-link-card:hover {
    transform: translateY(-10px);
}

.p-link-card:hover h4 {
    color: #6b7c93;
}

.p-link-card:hover .hover-fillDark {
    fill: #6b7c93;
}

.p-link-card:hover .hover-fillLight {
    fill: #aebacb;
}

.p-link-card figure {
    width: 70px;
    position: relative;
    right: 70px;
}

.p-link-card figure svg {
    width: 130px;
}

.p-card-paraph {
    padding: 5px;
}


/* ===================== FOOTER ================= */

footer {
    margin-top: 50px;
    background-color: #F4F7FB;
    position: relative;
}

.stripe-footer {
    height: 300px;
    width: 100%;
    z-index: -10;
    top: -150px;
    background-color: #F4F7FB;
}


/* FOOTER TOP */

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 10%;
}

footer .p-inline-elements {
    justify-content: flex-end;
    width: 50%;
}

.footer-top .p-footer-text-container p {
    margin: 10px 0;
    font-size: 1.6rem;
    font-weight: 400;
}

.footer-top .p-footer-text-container p:nth-child(1) {
    color: #6772E5;
}

.footer-top .p-footer-text-container p:nth-child(2) {
    color: #32325D;
}


/* NAV FOOTER */

.nav-footer {
    border-top: 2px solid #ECF1F5;
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
}


/* NAV FOOTER 01 */

.nav-footer .p-footer-col-01 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #CFD7DF;
    font-size: 0.9rem;
}

.nav-footer .p-footer-col-01 a {
    display: block;
    margin: 0 10px 10px 0;
    color: #6772e5;
    font-weight: bold;
}


/* MAIN NAV FOOTER */

.p-footer-nav-container {
    display: flex;
    flex-flow: row wrap;
}

.nav-footer h4 {
    margin-top: 0;
    margin-bottom: 15px;
}

.nav-footer ul {
    list-style: none;
}

.nav-footer li {
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.p-footer-col a, .nav-footer h4 {
    color: #8898aa;
    transition: 0.3s;
}

.p-footer-col a:hover {
    color: #32325d;
}

.p-footer-col:not(:last-of-type) {
    margin-right: 50px;
}

.column-divide {
    display: flex;
}


/* ===================== FIN FOOTER ================= */


/* ===================== MEDIA QUERIES ==================== */

@media screen and (max-width: 640px) {
    /* CLASSES GENERALES */
    /* To 100% Width */
    .p-main-title, .p-text-block .p-inline-elements, footer .p-inline-elements, header .p-text-block-container, .nav-footer, .p-link-card, .m-textsection3-gauche, .m-textsection3-droite, .nav-footer .p-footer-col-01, #s-la {
        width: 100%;
    }
    .p-text-block .p-inline-elements, footer .p-inline-elements, .nav-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    /* HEADER */
    .p-burger-menu {
        display: block;
    }
    .p-main-title {
        font-size: 2.4rem;
        margin: 0;
    }
    #nav-header ul, #p-devices-container {
        display: none;
    }
    /* PARTIE BLEUE*/
    .m-container2 {
        display: none;
    }
    /* FOOTER */
    .nav-footer .p-footer-col-01 {
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .p-footer-col-01 div {
        display: flex;
        align-items: center;
    }
    .p-footer-col {
        margin-bottom: 20px;
    }
    .column-divide {
        flex-direction: column;
    }
}
